.video__details-container {
  margin: 20px 145px;
  display: flex;
  justify-content: space-between;
}

.mainVideo__container {
  width: 75%;
}

/* Channel detials */

.channel {
  border-right: 1px solid #e1e1e1;

  height: 210%;
}

.channel__title {
  font-size: 33px;
  line-height: 44px;
  font-weight: bold;
  margin: 0;
}

.channel__name {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

.channel__details {
  display: inline-flex;
  /* justify-content: space-around; */
  margin: 0 0 0 500px;
  /* display: inline; */
  /* flex-direction: row; */
}

.channel__detail {
  padding: 0 20px;
}

.channel__description {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  padding-right: 10px;
}

/* COMMENTS */

.channel__comment {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-top: 1px solid #e1e1e1;
}

.comment__avatar {
  background-color: #afafaf;
  width: 60px;
  height: 55px;
  border-radius: 50%;
}

.comment__user-info {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

/* COMMENTS */

.comments {
  padding: 0;
}

.comment__name {
  font-size: 14px;
  font-weight: bold;

  padding: 0 0 0 0px;
}

.comment__text {
  padding: 0 60px 0 0;
  margin: 0;
}
