.sidevideo__container {
  padding: 20px 20px 10px 20px;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidevideos__container {
  margin: 0 auto;
  width: calc(98% - 40px);
  max-width: 600px;
  position: relative;
}

.sidevideo__container video {
  width: 50%;
  border-radius: 5px;
  object-fit: cover;
}

.sidevideo__content {
  cursor: pointer;
  display: flex;
  align-items: center;

  overflow: hidden;
  transition: background-color 0.3s ease;
}

.sidevideo-thumbnail {
  height: 90px;
}

.Sidechannel__details {
  flex: 1;
}

.Sidechannel__details h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.Sidechannel__details p {
  font-size: 14px;
  color: #323232;
}

.sidevideo__link {
  text-decoration: none;
  color: #323232;
  display: flex;
  gap: 20px;
}

/* TABLET */

@media (max-width: 1024px) {
  .sidevideo__container {
    padding: 15px 15px 5px 15px;
  }

  .sidevideos__container {
    width: calc(98% - 30px);
  }

  .sidevideo__container video {
    width: 40%;
    height: 80px;
  }

  .sidevideo-thumbnail {
    height: 80px;
  }

  .Sidechannel__details h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .Sidechannel__details p {
    font-size: 12px;
  }

  .sidevideo__link {
    gap: 15px;
  }
}

/* MOBILE */

@media (max-width: 767px) {
  .sidevideo__container {
    padding: 10px 59px 5px 10px;
  }

  .sidevideos__container {
    width: calc(98% - 20px);
  }

  .sidevideo__container video {
    width: 35%;
    height: 70px;
  }

  .sidevideo-thumbnail {
    height: 70px;
  }

  .Sidechannel__details h2 {
    font-size: 14px;
    margin-bottom: 3px;
  }

  .Sidechannel__details p {
    font-size: 10px;
  }

  /* .sidevideo__link {
    flex-direction: row;
  } */
}
